{% extends "base2.html" %}
{% load static %}
{% load href_filename %}

{% block title %} Biography · Katharina Meldre {% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'main_app/css/bio.css' %}">

{% endblock %}

{% block content %}
<div id="bio_content">
    <h1 class="text"> Biography</h1>

    <ul class="nav nav-tabs" id="bios">
        {% for bio in bios %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ bio.language_id|href_bio }}">{{ bio.language_id }}</a>
            </li>
        {% endfor %}
    </ul>

    <div id="text-stuff">
        <div class="col-md-6.5 float-md-end mb-3 ms-md-3" id="collapsable">
            <img src="{% static 'pics/image.jpg' %}" alt="pic">
        </div>
        {{ sel_bio.text }}

    </div>
    <br>
</div>

<!--
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/bio/en">English</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bio/de">Deutsch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bio/ru">Русский</a>
      </li>
    </ul>

    <div id="text-stuff">
        {% for text in bio %}
            {{text.bio}}
        {% endfor %}
    </div>
-->

{% endblock %}