.crop {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    min-width: 200px;
}


.crop img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: 48% top;
}


.container-fluid {
    padding: 0 !important;
}