@font-face {
    font-family: 'cormorant_garamondlight';
    src: url('webfonts/text_font/cormorant/cormorantgaramond_light/CormorantGaramond-Light-webfont.eot');
    src: url('webfonts/text_font/cormorant/cormorantgaramond_light/CormorantGaramond-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/text_font/cormorant/cormorantgaramond_light/CormorantGaramond-Light-webfont.woff2') format('woff2'),
         url('webfonts/text_font/cormorant/cormorantgaramond_light/CormorantGaramond-Light-webfont.woff') format('woff'),
         url('webfonts/text_font/cormorant/cormorantgaramond_light/CormorantGaramond-Light-webfont.ttf') format('truetype'),
         url('webfonts/text_font/cormorant/cormorantgaramond_light/CormorantGaramond-Light-webfont.svg#cormorant_garamondlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cormorant_garamondsemibold';
    src: url('webfonts/text_font/cormorant/cormorantgaramond_semibold/CormorantGaramond-SemiBold-webfont.eot');
    src: url('webfonts/text_font/cormorant/cormorantgaramond_semibold/CormorantGaramond-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/text_font/cormorant/cormorantgaramond_semibold/CormorantGaramond-SemiBold-webfont.woff2') format('woff2'),
         url('webfonts/text_font/cormorant/cormorantgaramond_semibold/CormorantGaramond-SemiBold-webfont.woff') format('woff'),
         url('webfonts/text_font/cormorant/cormorantgaramond_semibold/CormorantGaramond-SemiBold-webfont.ttf') format('truetype'),
         url('webfonts/text_font/cormorant/cormorantgaramond_semibold/CormorantGaramond-SemiBold-webfont.svg#cormorant_garamondsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2 {
    font: bold 20px 'cormorant_garamondsemibold';
    margin-top: .5%;
}

.clearfix {
    height: 75vh;
    overflow-y: scroll;
}

#collapsable {
    animation: slide-up;
    animation-duration: 2s;
}

a img {
    border: none;
}

.lightbox {

  position: fixed;
  overflow: hidden;
  z-index: 9999;
  width: 0;
  height: 0;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {

  height: inherit;
  max-width: 95%;
  object-fit: scale-down;
  margin: 1% 0 0 0;
  opacity: 0;
  text-align: center;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;

}

.pic img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;


}

.lightbox:target {

  width: auto;
  height: -webkit-fill-available;
  height: -moz-available;
  bottom: 0;
  right: 0;
  outline: none;
}

.lightbox:target img {

  opacity: 1;
}


.thumb {
    display: inline-block;
    position: relative;
    margin: 7%;
}

.pic {
  height: 15vmax;
  width:  15vmax;
  overflow: hidden;
  position: relative;
  display: inline-block;

  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
}


.description {
    display: none;
    width: inherit;
    color: black;
    text-align: left;
    font-family: 'cormorant_garamondsemibold';
    position: absolute;
    left: 0;
    bottom: 10px;
}

.pic:hover img {
    opacity: 50%;
}

.pic:hover div{
    display: block;
    animation: slide-up;
    animation-duration: .5s;
}

.description img {
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity: 1 !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.videos {
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.video_iframe {
    animation: slide-right;
    animation-duration: 2s;
}

iframe {

    max-width: 100%;
    max-height: 100%;

    object-fit: cover;
    object-position: 50% 50%;

    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
}

@keyframes slide-up {
  0% {
    transform: translateY(500%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0%);
  }
}